html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}

.wrapper_body{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.bbalck{
    border-bottom: solid 1px #1E293B;;
}

/*
* Начало левое меню
*/
.wrapper_body .leftmenu{
    width: 250px;
    background: #FFF;
}
.wrapper_body .leftmenu .logomenu{
    width: 100%;
    position: relative;
}
.wrapper_body .leftmenu .hidemenu{
    position: absolute;
    top: 34px;
    right: 24px;
    cursor: pointer;
}


.wrapper_body .leftmenu .namelogo{
    color: #1E293B;
    font-family: SF Pro Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 24px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.wrapper_body .leftmenu .lineblack100{
    width: 100%;
    height: 1px;
    background: #EEF2F6;
}
.wrapper_body .leftmenu .lineblack80{
    width: 80%;
    height: 1px;
    background: #EEF2F6; 
    margin: auto;
}


.wrapper_body .leftmenu .menutype1{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
    padding-left: 24px;
}
.wrapper_body .leftmenu .menutype1 .link1{
    color: #94A3B8;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

.wrapper_body .leftmenu .menutype2{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
    padding-left: 24px;
}

.wrapper_body .leftmenu .menutype2 .texttitle{
    color: #94A3B8;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}
.wrapper_body .leftmenu .menutype2 .link2{
    color: #1E293B;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

/*
* Конец левое меню
*/


/*
* Разделитель
*/
.linewhiteblack{
    width: 1px;
    background: #EEF2F6;
}

/*
* Центральную часть данных
*/
.wrapper_body .content_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 251px);
    align-content: flex-start;
}
.wrapper_body .content_wrapper .menucontent{
    height: 86px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.wrapper_body .content_wrapper .lineblack100{
    width: 100%;
    height: 1px;
    background: #EEF2F6;
}
.wrapper_body .content_wrapper .title_workspace{
    color: #1E293B;
    font-family: SF Pro Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    width: 100%;
}


/**
* TODO лист
*/
.wrapper_body .content_wrapper .todo_wrapper{
    display: -webkit-box;
    padding-left: 20px;
    padding-top: 20px;
    overflow-x: auto;
    overflow: scroll;
    overflow-y: hidden;
    height: calc(100vh - 156px);
    flex-wrap: nowrap;
    width: 100%;
}

.wrapper_body .content_wrapper .todo_wrapper .listtype{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    align-content: flex-start;
}

.wrapper_body .content_wrapper .todo_wrapper .listtype .title_listtype{
    width: 100%;
    height: 40px;
}
.wrapper_body .content_wrapper .todo_wrapper .listtype .title_listtype .counttodo{
    border-radius: 1000px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    color: #94A3B8;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 32px;
    height: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

}

.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas{
    width: 100%;
    overflow-y: auto;
    height: 100%;
}
.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas .itemdata{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    margin-top: 20px;
    position: relative;
}

.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas .itemdata .itemdata0{
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    position: absolute;
    width: 97%;
    height: 104%;
    z-index: -1;
    left: 3px;
}

.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas .itemdata .title_data{
    color: #1E293B;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 8px;
} 
.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas .itemdata .text_data{
    color: #94A3B8;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    letter-spacing: 0.2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
} 

.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas .itemdata .wrapper_data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}
.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas .itemdata  .tagproj{
    display: flex;
    height: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas .itemdata  .ln100{
    background: #E2E8F0;
    width: 100%;
    margin-bottom: 8px;
    height: 1px;
}

.wrapper_body .content_wrapper .todo_wrapper .listtype .itemdatas .itemdata .datafinish{
    color: #94A3B8;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    display: flex;
}




/**
* Кнопки цветные для tag
*/
.bluetag{
    color: #33BFFF;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    border-radius: 4px;
    background: #F0FAFF;
}